@import 'navbar.css';
@import 'hero.css';
@import 'schedule.css';
@import 'footer.css';
@import 'services.css';

html{
    box-sizing: border-box;
}

body{
    background-image: url(../images/brilliant.png);
    background-color: #1b1b1b;
}




